@use './nav.scss';
@use './discription.scss';
@use './hover.scss';
@use './products.scss';
@use './slider.scss';
@use './main.scss';
@use './main_section.scss';

.grey-line {
    display: flex;
    flex-direction: row;
    background-color: #cfcdcd;
}
.categories {
    position: relative;
    display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.692)
}
.main-gniazdka {
    position: relative;
    font-weight: bold;
    left: 210px;
}
.gniazdka-dsc {
    font-size: 10px;
}
.random-rec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rec-prod-img {
    position: relative;
    width: 70px;
    height: 70px;
}
.banner-1 {
    width: 1100px;
}
