* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5eeee;
}
.logo-up {
    position: absolute;
    width: 250px;
    height: 59px;
    background-image: url(../img/photos/logo.png);
}
// navigacja navi   
.nav-items {
    position: relative;
    color: #000000;
    text-align: right;
    flex-direction: row-reverse;
    float: right;
    text-transform: uppercase;
    margin: 3vh;
    font-weight: bold;
}
/* nawigacja */
nav {
    position: relative;
    top: 0;
    height: -60px;
    line-height: -60px;
    background-color: #f5eeee;
    
    
}
.btn-color{
    border: 0;
    background-color: #f5eeee;
}
// sekcja 2 zakłądek 
.function {
    position: sticky;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    }
.btn-2 {
    position: sticky;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    background-color: #f5eeee;
}
// obrazki + js 
.left-1 {
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58%;
    color: cyan;
}
.right-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 58%;
    right: 29px;
    color: cyan;
}
.slajd {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vhpx;
    height: 400px;
   }
.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 400px;
}
.Philips {
    position: relative;
}
.sedan {
    position: relative;
}
.nagl {
    position: absolute;
    top: 115px;
    left: 100px;
    color: #f5eeee;
    text-decoration: solid;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}
.nagl2 {
    position: absolute;
    top: 150px;
    left: 100px;
    color: #f5eeee;
    text-decoration: solid;
    font-weight: lighter;
    font-size: 35px;
}
.slide-dsc {
    position: absolute;
    top: 200px;
    left: 100px;
    color: #f5eeee;
    font-size: smaller;
}
.see-more-up {
    position: absolute;
    width: 135px;
    height: 45px;
    top: 260px;
    left: 100px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
    color: #f5eeee;
    border: none;
   }
.nagl-s {
    position: absolute;
    top: 115px;
    left: 100px;
    color: #f5eeee;
    font-weight: bold;
    font-size: 30px;
}
.nagl2-s {
    position: absolute;
    top: 150px;
    left: 100px;
    color: #f5eeee;
    font-weight: 500;
    font-size: 30px;
}
.see-more-up-s {
    position: absolute;
    top: 280px;
    left: 100px;
    width: 135px;
    height: 35px;
    border: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    color: #f5eeee;
}
.left1 {
    background: none;
    border: none;
    cursor: pointer;
}
.right1 {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}



























// main 

.main-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    color: #f5eeee;
    width: 500px;
    height:300px;
    font-weight: bold;
    background-image: url(../img/photos/img_02.jpg);
}
.img-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    color:rgb(255, 255, 255);
    width: 500px;
    height:300px;
    font-weight: bold;
    background-image: url(../img/photos/img_03.jpg);
}
.img-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    color: #f5eeee;
    width: 500px;
    height:300px;
    font-weight: bold;
    background-image: url(../img/photos/img_04.jpg);
}

.one~h1{
    font-weight: bold;
    margin-top: 40px;
}
.one~h3 {
    font-weight: 100;
    margin-left: 40px;
}

.btn-see-more {
    width: 200px;
    height: 50px;
    border-color: #f5eeee;
    color: #fff;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
}
.align {
    margin-left: 40px;
}


// produkty
.recommended_text {
    text-align: center;
}




.bulb1 {
    height: 300px;
    width: 400px;
    background-color: #ffffff;
    // background-size: cover;
    // background-position: center;
    // background-image: url(../img/photos/img_06.jpg);
}
.pic    {
    height: 180px;
    width: 100px;
    background-size: cover;
    background-position: center;
    margin-left:65px;
    background-image: url(../img/photos/img_06.jpg);
}

.product-name {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}
.product-disc {
    text-align: center;
    font-size: 9px;
    color: #000000;
    font-weight: bold;
}
.price-bf {
    text-align: center;
    font-size: 10px;
    color: #00000088;
    text-decoration: line-through;
}
.price-after {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}



.blub-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




.zobacz-btn {
    text-align: center;
}


.see-more-btn {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: tomato;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 25px;
}
.cart {
    display: none;
    text-align: right;
    transform: translate(-10px,-50px);
}
.many {
    display: none;
    transform: translate(-17px,-98px);
}




   





// o nas 
.about-us-2 {
    position: relative;
    flex-direction: row;
    text-transform: uppercase;
    margin: 3vh;
    font-weight: bold;
    padding: 70px;
}

.dilivery {
    top: 2340px;
    left: 465px;
    width: 310px;
    height: 153px;
}
.accesories {
    top: 2340px;
    left: 805px;
    width: 310px;
    height: 153px;
}
    
    

.about-us {
    background-image: url(../img/photos/whyUsBanner.png);
    background-size: cover;
    text-align: center;
    color: #ffffff;
    }

.dilivery{
    text-align: center;
    flex-direction: row;
    text-transform: uppercase;
    margin: 3vh;
    font-weight: bold;
    border: 1px solid #ffffff;
    opacity: 1;
}

.info {
    padding: 20px;
    border-radius: 25px;
    background-color: red;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
}

// informacje o autorach i firmie 

.bg-grey {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 2652px;
    left: 0px;
    width: 100%vh;
    height: 100%vh;
    background: #393E40 0% 0% no-repeat padding-box;
    opacity: 1;
}
.informacje {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.line {
    width: 250px;
    height: 1px;
    background: linear-gradient(90deg, red 0 10%, rgb(121, 120, 120) 0 90%);
}
.items {
    font-size: 10px;
    text-transform: none;
    font-weight: lighter;
}



// .linki-2 {

// }
// .info2 {

// }


// footer 
.left {
    text-align: left;
    opacity: 0.5;
}
.right {
    text-align: right;
    opacity: 0.5;
}



// hovery  
.btn-color:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: royalblue;
    transition: 0.3s;
}

.btn-2:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

.info:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}

.dilivery:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.3s;
}
.btn-see-more:hover {
    cursor: pointer;
    background-color: rgb(255, 38, 0);
    border-color: rgb(255, 38, 0);
    transition: 0.5s;
}
.img-1:hover {
    transform: scale(1.20);
    transition: 0.3s;
}
.img-2:hover {
    transform: scale(1.20);
    transition: 0.3s;
}
.img-3:hover {
    transform: scale(1.20);
    transition: 0.3s;
}
.lewo:hover {
    cursor: pointer;
    background-color: grey;
    transition: 0.3s;
}
.prawo:hover {
    cursor: pointer;
    background-color: grey;
    transition: 0.3s;
}
.see-more-btn:hover {
    cursor: pointer;
    background-color: #000000;
    transition: 0.5s;
    color: #ffffff;
}



.bulb1:hover {
    .animation-up {
        transition: 0.5s;
        transform: translate(0px,-40px);
    }
    .cart {
        display: block;
    }
    .many {
        display: block;
    }
}

.see-more-up:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}
.see-more-up-s:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}
.left1:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.582);
}
.right1:hover {
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.582);
}