// produkty
.recommended_text {
    text-align: center;
}
.bulb1 {
    height: 300px;
    width: 400px;
    background-color: #ffffff;
    // background-size: cover;
    // background-position: center;
    // background-image: url(../img/photos/img_06.jpg);
}
.pic    {
    height: 180px;
    width: 100px;
    background-size: cover;
    background-position: center;
    margin-left:65px;
    background-image: url(../img/photos/img_06.jpg);
}

.product-name {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}
.product-disc {
    text-align: center;
    font-size: 9px;
    color: #000000;
    font-weight: bold;
}
.price-bf {
    text-align: center;
    font-size: 10px;
    color: #00000088;
    text-decoration: line-through;
}
.price-after {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}



.blub-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




.zobacz-btn {
    text-align: center;
}


.see-more-btn {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background-color: tomato;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 25px;
}
.cart {
    display: none;
    text-align: right;
    transform: translate(-10px,-50px);
}
.many {
    display: none;
    transform: translate(-17px,-98px);
}