// obrazki + js

.slajd-bg {
	position: relative;
}
.slajd-bg * {
	margin: 0;
}
.left-1 {
	left: 0;
	display: flex;

	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
	width: 50px;
	height: 50px;
	color: cyan;
	background-color: white;
}
.right-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	cursor: pointer;
	transform: translate(0, -50%);
	right: 0;
	width: 50px;
	height: 50px;
	color: cyan;
	background-color: white;
}
.slajd {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 100%;
	object-fit: cover;
}
.slide2 {
	position: relative;
	display: flex;
	justify-content: center;
	width: 1300px;
	height: 400px;
}
.Philips {
	position: relative;
}
.sedan {
	position: relative;
}
.nagl {
	position: absolute;
	top: 115px;
	left: 100px;
	color: #f5eeee;
	text-decoration: solid;
	font-weight: bold;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
}
.nagl2 {
	position: absolute;
	top: 150px;
	left: 100px;
	color: #f5eeee;
	text-decoration: solid;
	font-weight: lighter;
	font-size: 35px;
}
.slide-dsc {
	position: absolute;
	top: 200px;
	left: 100px;
	color: #f5eeee;
	font-size: smaller;
}
.see-more-up {
	position: absolute;
	width: 135px;
	height: 45px;
	top: 260px;
	left: 100px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: red;
	color: #f5eeee;
	border: none;
}
.nagl-s {
	position: absolute;
	top: 115px;
	left: 100px;
	color: #f5eeee;
	font-weight: bold;
	font-size: 30px;
}
.nagl2-s {
	position: absolute;
	top: 150px;
	left: 100px;
	color: #f5eeee;
	font-weight: 500;
	font-size: 30px;
}
.see-more-up-s {
	position: absolute;
	top: 280px;
	left: 100px;
	width: 135px;
	height: 35px;
	border: none;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	background-color: rgb(255, 0, 0);
	color: #f5eeee;
}
.left1 {
	background: none;
	border: none;
	cursor: pointer;
}
.right1 {
	background: none;
	border: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.navigation_main {
		position: fixed !important;
		top: 100px;
		left: -100vw;
		width: 30vw;
		min-width: 150px;
		z-index: 99;
		display: flex;
		flex-direction: column;
		background-color: white;
		transition: left 0.5s;
	}
	.navigation_main * {
		margin: 0;
	}
	.navigation_main div {
		padding: 10px 10px 10px 10px;
		display: flex;
		justify-content: center;
	}
	.navigation_top {
		position: fixed;
		top: 100px;
		left: -100vw;
		width: 30vw;
		min-width: 150px;
		z-index: 99;
		display: flex;
		flex-direction: column;
		background-color: white;
		transition: left 0.5s;
	}

	.navigation_main.--active {
		left: 0;
		transition: left 0.5s;
	}
	.navigation_top.--active {
		left: 30vw;
		transition: left 0.5s;
	}
	.logo_container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo_hamburger {
		font-size: 25px;
	}
	.sedan {
		display: none;
	}
	.Philips {
		display: none;
	}
	.sedan-mobile {
		position: absolute;
		text-align: left;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 290px;
		background-image: url(../img/photos/slide_small.png);
		background-size: cover;
	}
	.philips-mobile {
		position: relative;
		text-align: left;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 300px;
		background-image: url(../img/photos/slide_small2.jpg);
	}
	.right-1 {
		top: 50%;
		right: 0;
	}
	.left-1 {
		top: 50%;
	}
}
@media (max-width: 768px) {
	.sedan-mobile {
		display: none;
	}
}
